.grid {
    width: 100%;
    height: auto;
    padding: 20px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 200px);
    gap: 20px;
    background-color: aqua;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

}

h1 {
    font-size: 90px;

    font-family: cursive;
}

@media (max-width:600px) {
    .grid {
        grid-template-columns: repeat(2, 100px);
    }
}